.input {
  display: flex;
}

.input input {
  margin-left: 0.5rem;
  min-width: 12rem;
  /* height: 1.2rem; */
}

.input_label {
  display: inline-block;
  padding-left: 1rem;
  cursor: pointer;
}

.input, .input_label {
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .input_label {
    padding-left: 3rem;
  }
}