.text_area textarea {
  display: block;
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 85%;
}

.text_area .longTextArea {
  margin-top: 0.5rem;
  height: 6rem;
  width: 100%;
}

.text_area {
  display: flex;
}

.text_area, .text_text_area {
  margin-left: 0.5rem;
  min-width: 12rem;
  /* height: 1.2rem; */
}

.text_area_label {
  display: block;
  width: 100%;
  padding-left: 1rem;
  cursor: pointer;
}

.text_area, .text_area_label {
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .text_area_label {
    padding-left: 3rem;
  }
}