.text_area textarea, .text_area .longTextArea {
  display: block;
  margin-top: 1rem;
  height: 5.5rem;
  width: 85%;
  padding: 10px;
}

.text_area .longTextArea {
  height: 11rem;
  width: 100%;
}

.text_area {
  display: flex;
}

.text_area, .text_text_area {
  margin-left: 0.5rem;
  min-width: 12rem;
}

.text_area_label {
  display: block;
  width: 100%;
  padding-left: 1rem;
  cursor: pointer;
}

.text_area, .text_area_label {
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .text_area_label {
    padding-left: 3rem;
  }
}