.radio_button {
  display: flex;
}

.radio_button input {
  margin-right: 1rem;
}

.radio_button_label {
  display: inline-block;
  text-indent: -2rem;
  padding-left: 2rem;
  cursor: pointer;
}

.radio_button,
.radio_button_label {
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .radio_button_label {
    padding-left: 3rem;
  }
}
