.picLink_container {
  margin-bottom: 4rem;
}

.picLink_content {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.picLink {
  display: block;
  background-position: center;
  background-size: cover;
}

.picLink_name {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

.picLink_text {
  margin: 0;
  padding: 0 40px;
  max-width: 800px;
  text-align: center;
}

a.picLink {
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: 960px) {
  .picLink_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 6rem;
  }

  .picLink--span-2 {
    grid-row: span 2;
  }

  .picLink--span-2 .picLink_content {
    min-height: 600px;
  }
}
