/* Styly pro hlavičku (: */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

.header_homepage {
  position: relative;
  height: 100vh;
  padding: 20px 40px;
  /* background-image: linear-gradient(rgba(75, 75, 75, 0.137), rgba(75, 75, 75, 0.137)), url(../img/header-bg-ukol.jpg);
  background-position: 50% 50%;  */
  background: url(../../assets/main/header-bg-ukol.jpg) 50% 50%;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.header_homepage .video_wrapper {
  display: none;
}

.header_logo {
  font-family: 'Clicker Script', cursive;
  font-size: 2.5em;
}

/* .header_nav { */
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
/* justify-content: space-between; */
/* } */

.header_menu {
  position: relative;
  min-width: 30%;
}

/* .header_menu-buttons {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  justify-content: space-between;
} */

.header_menu-buttons {
  display: none;
}

/* .header_menu-buttons li {
  display: inline-block;
} */

.header_content {
  margin-top: 45%;
}

.header_title-text,
.header_title,
.header_logo {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .header_homepage .video_wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .header_homepage .video_wrapper video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  header {
    margin-top: 0;
  }

  .header_menu-buttons {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
  }

  /* .header_menu-buttons, */
  .header_nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_title {
    font-size: 3em;
  }

  .header_title-text {
    font-size: 1.25em;
  }

  .header_content {
    position: relative;
    margin-top: 15%;
  }
}
