.checkbox {
  display: flex;
}

.checkbox input {
  margin-right: 0.5rem;
}

.checkbox_label {
  display: inline-block;
  padding-left: 1rem;
  cursor: pointer;
}

.checkbox, .checkbox_label {
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .checkbox_label {
    padding-left: 3rem;
  }
}