.checkbox {
  display: flex;
}

.checkbox input {
  margin-right: 1rem;
}

.checkbox_label {
  display: inline-block;
  text-indent: -2rem;
  padding-left: 2rem;
  cursor: pointer;
}

.checkbox,
.checkbox_label {
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .checkbox_label {
    padding-left: 3rem;
  }
}
