.form-nav {
  background-color: #aeaebe;
  height: 100%;
  width: 18rem;
  position: fixed;
}

.form-nav_links {
  margin: 0;
  padding: 12rem 0 0 3rem;
}

.form-nav_links li {
  display: block;
}

.form-nav_links a {
  display: block;
  font-family: 'Lora', serif;
  font-size: 20px;
  max-width: 800px;
  color: white;
  text-decoration: none;
}

.form-nav_links a:focus, .form-nav_links a:hover {
  color: #89455D;
}
