@media (min-width: 768px) {
  
}

@media (min-width: 960px) {

.form-nav {
  background-color: #aeaebe;
  height: 100%;
  width: 18rem;
  position: fixed;
}

.form-nav_links {
  margin: 0;
  padding-top: 12rem;
  padding-left: 0;
}

.form-nav_links li {
  display: block;
}

.form-nav_links a {
  display: block;
  font-family: 'Lora', serif;
  font-size: 20px;
  max-width: 800px;
  color: white;
  text-decoration: none;
  padding-left: 3rem;
}

.form-nav_links a:focus, .form-nav_links a:hover {
  color: #89455D;
}

.form-nav .form-nav--selected {
  color: #89455D;
  /* background-color: #8d5e6e; */
}
}