.form_main {
  margin-bottom: 4rem;
}

.formtext_container,
.form {
  padding: 0 2rem;
}

.form_main .title-div {
  margin: 4rem 0;
}

.form_main h3 {
  font-size: 18px;
}

.form_main .quest {
  margin-top: 4rem;
}

.form_main .extra_text {
  font-style: italic;
  cursor: initial;
}

.form_main textarea, .form_main input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

@media (min-width: 768px) {
  .form_main {
    padding-top: 11rem;
  }

  .form_main .title-div {
    margin: 6rem 0;
    margin-right: 30%;
  }

  .form_main h3 {
    font-size: 20px;
  }

  .formtext_container,
  .form {
    padding: 0 3rem 0 15%;
  }

  .disclaimer {
    padding-left: 3rem;
  }
}

@media (min-width: 960px) {
  .form_main {
    padding-top: 5rem;
    margin-bottom: 6rem;
  }

  .formtext_container,
  .form {
    margin-left: 19rem;
    padding: 0 5rem 0 15%;
    max-width: 1200px;
  }

  .form_main .title-div {
    margin-left: 19rem;
    margin-right: 35%;
  }

  .form_main .quest {
    margin-top: 5rem;
  }

  .formtext p {
    margin: 0 0 1em;
  }
}
