.form_main {
  margin-bottom: 4rem;
}

.formtext_container,
.form {
  padding: 0 1rem;
}

.form_main .title-div {
  margin: 4rem 0;
}

.form_main h3 {
  font-size: 18px;
}

.form_main .quest {
  margin-top: 4rem;
}

.form_main .extra_text {
  font-size: 1rem;
  font-style: italic;
  cursor: initial;
  padding-left: 2rem;
  border-left: 2px solid #eee;
  margin: 3rem 0;
  margin-left: -2rem;
}
.form_main .extra_text::before {
  position: relative;
  content: '"';
}
.form_main .extra_text::after {
  position: absolute;
  content: '"';
}

.form_main textarea,
.form_main input {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.form_buttons {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 2rem;
}

.form_buttons .styled_link a {
  margin: 0 0 2rem 0;
}

.form_submit_container {
  text-align: center;
}

.form_submit_link {
  text-decoration: none;
}

.form_submit_button {
  margin: 3rem 0;
  padding: 1rem 30px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.2s ease;
  background: #89455d;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-style: none;
  outline: none;
  cursor: pointer;
}

.form_submit_button--disabled {
  background-color: #93939f;
}

.form_submit_button--active:hover,
.form_submit_button--active:focus {
  background-color: #8d5e6e;
}

.link_firebase {
  
}

@media (min-width: 768px) {
  .formtext_container,
  .form {
    padding: 0 2rem;
  }
  .form_main {
    padding-top: 11rem;
  }

  .form_main .title-div {
    margin: 6rem 0;
    margin-right: 30%;
  }

  .form_main h3 {
    font-size: 20px;
  }

  .formtext_container,
  .form {
    padding: 0 3rem 0 15%;
  }

  .disclaimer {
    padding-left: 3rem;
  }

  .form_buttons {
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  .form_buttons .styled_link a {
    margin: 1rem 4rem 2rem 0;
  }
}

@media (min-width: 960px) {
  .form_main {
    padding-top: 5rem;
    margin-bottom: 4rem;
  }

  .formtext_container,
  .form {
    margin-left: 19rem;
    padding: 0 5rem 0 15%;
    max-width: 1200px;
  }

  .form_main .title-div {
    margin-left: 19rem;
    margin-right: 35%;
  }

  .form_main .quest {
    margin-top: 5rem;
  }

  .formtext p {
    margin: 0 0 1em;
  }

  .form_buttons {
    padding-right: 10%;
    margin: 0 0 4rem 0;
  }

  .form_buttons .styled_link a {
    margin: 1rem 0 4rem 4rem;
  }
  .form_main .extra_text {
    margin-left: inherit;
  }
}
